.input {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    width: 100%;

    label {
        display: block;
        margin-bottom: 0.25rem;
        font-size: 0.8em;
        font-weight: 700;
    }

    input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0.25rem;
        font-size: 0.9em;
    }
}