.label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* 67mm X 95.5mm X 22.5mm */
    width: 67mm;
    height: 22.5mm;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #000;

    .label__left {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
        justify-content: center;
        height: 100%;

        .label__name {
            margin: 0;
            padding: 0;
            font-size: 1.0em;
        }
    
        .label__set {
            margin: 0;
            padding: 0;
            font-size: 0.75em;
        }
    }

    .label__right {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.3rem;
        justify-content: center;
        height: 100%;
        padding-left: 0.25rem;

        img {
            max-width: 20px;
            height: auto;
        }
    }
}